.Home {
  text-align: center;
  overflow: hidden;
}

.React-logo {
  display: block;
  margin-left: -45%;
  width: 50%;
  pointer-events: none;
  animation: React-logo-move 1s forwards, React-logo-spin 1s forwards 0.2s;
  position: absolute;
}

.Influx-logo {
  display: block;
  margin-left: 90%;
  width: 50%;
  pointer-events: none;
  animation: Influx-logo-move 1s forwards;
  position: relative;
}
.Nodejs-logo {
  display: block;
  transform: scale(0.5);
  margin-top: -100px;
  margin-left: 90%;
  width: 50%;
  pointer-events: none;
  animation: Influx-logo-move 1s forwards;
  position: relative;
}
.Home-title {
  display: block;
  color: white;
  animation: Home-title-fade 5s forwards;
  margin-top: 50px;
  position: relative;
}
.Home-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #61dafb;
}
@keyframes Influx-logo-move {
  from {
    right: 0px;
  }
  to {
    right: 50%;
  }
}

@keyframes React-logo-move {
  from {
    left: 0px;
  }
  to {
    left: 50%;
  }
}

@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Home-title-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
